.nav__list {
  display: flex;

  @include tablets {
    display: none;
  }
}

.nav__list-item {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin: 0 rem(15px);
  }

  &:first-child {
    &::before {
      display: none;
    }
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
}