.slider {
  display: flex;
  height: 100%;
  position: relative;
}

.slider__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  @include phones {
    position: absolute;
    bottom: 0;
    top: 0;
  }
}

.slider__btn--prev {
  .slider__btn-icon {
    transform: rotate(90deg);
  }

  @include phones {
    left: 0;
  }
}

.slider__btn--next {
  .slider__btn-icon {
    transform: rotate(-90deg);
  }

  @include phones {
    right: 0;
  }
}

.slider__slides {
  flex: 1;
}

.slider__slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}